.vs/
/LAB2/Publicaciones_v02/target/
/LAB4/ProyectosSesion6/SoftlnvDBManager/nbproject/
/LAB4/ProyectosSesion6/SoftlnvDBManager/target/
/PARCIAL_25_2/TransitSoftDBManager/target/
/PARCIAL_25_2/TransitSoftVigilanciaVial/target/
/SOAP/SoftInv/DBManager/target/
/SOAP/SoftInv/Model/target/
/SOAP/SoftInv/Persistance/target/
/SOAP/SoftInv/Business/target/
/SOAP/SoftInv/WS/target/
