<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="tipoDeBaseDeDatos" value="MYSQL" />
		<add key="baseDeDatos" value="soft_inv_test" />
		<add key="nombreDeHost" value="localhost" />
		<add key="puerto" value="3306" />
		<add key="usuario" value="admin" />
		<add key="contraseña" value="UAByAG8AZwByAGEAbQBhAGMAaQBvAG4AMwAhAA ==" />
	</appSettings>
</configuration>